<!doctype html>
<html lang="eng">

<head>
    <title>{% block title %}'Drots Store'{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</head>

<body class="p-3 mb-2 bg-light text-dark">
    <!-- header -->
    <nav class="sticky-top">
        <div class="container">
            <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
                <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
                    <img class="img-fluid" src="../../static/logo/logo.png" alt="logo" width="100" height="100"/>
                </a>
        
                <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
                <li><a href="{% url 'home' %}" class="nav-link px-2 link-dark">Inicio</a></li>
                <li><a href="{% url 'tienda' %}" class="nav-link px-2 link-dark">Tienda</a></li>
                <li><a href="{% url 'nosotros' %}" class="nav-link px-2 link-dark">Nosotros</a></li>
                <li><a href="{% url 'blog' %}" class="nav-link px-2 link-dark">Blog</a></li>
                <li><a href="{% url 'contacto' %}" class="nav-link px-2 link-dark">Contacto</a></li>
                <li><a href="{% url 'custom' %}" class="nav-link px-2 link-dark">Crear camisa</a></li>
                </ul>
        
                <div class="col-md-3 text-end">
                <a href="{% url 'login' %}"><button type="button" class="btn btn-primary">Inicia Sesión</button></a>
                <a href="{% url 'cart' %}"><button type="button" id="btn-cart" class="btn btn-primary">Carrito</button></a>

                </div>
            </header>
        </div>
    </nav>
    <!-- header -->

    <div class="container my-4">
        {% block content %}
        {% endblock %}
    </div>

</body>
</html>