{% extends 'components/navbar.html' %}
{%  block title %}Drots - Store {% endblock %}
{% block content %}
<div class="row">
    {% for product in products %}
    <div class="col-md-4 col-lg-3 mb-2">
      <div class="card">
        <img src='https://img.freepik.com/vector-premium/camisa-color-negro_712192-2.jpg' class="card-img-top img-card"></img>
        <div class="card-body text-center">
          <a href="{% url 'product' id=product.id %}"
            class="btn bg-primary text-white">{{product.category}}</a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
{% endblock %}
