{% extends 'components/navbar.html' %}
{% block title %}Drots - Store{% endblock %}
{% block content %}
{% load static %}
<div class="row">
    {% for item in clothes %}
    <div class="col-md-4">  {# Assuming a grid system like Bootstrap's; adjust as needed #}
        <div class="card mb-4">
            <img src="{% static item.image %}" alt="{{ item.name }}" class="card-img-top">
            <div class="card-body">
                <h5 class="card-title">{{ item.name }}</h5>
                <small class="text-muted"><p class="card-text">{{ item.description }}</p></small>
                {% if item.price > 25000 %}
                <p class="card-text">
                    <small class="text-muted">
                    Precio: ${{item.price}}
                    <span class="badge bg-danger">Exclusivo</span>
                    </small>
                </p>
                {% else %}
                <p class="card-text">
                    <small class="text-muted">
                    Precio: ${{item.price}}
                    </small>
                </p>
                {% endif %}
                <a href="{% url 'product' item.id %}" class="btn btn-primary">Ver detalles</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
