{% extends 'components/navbarDashboard.html' %}
{%  block title %}Drots - Store {% endblock %}
{% block content %}
<div class="text-center mb-4">
    <h1 class="h3 mb-3 font-weight-normal">Administrador</h1>
    <p>En esta sección podrás crear, modificar o eliminar un producto.</p>
</div>
<br>

<a href="{% url 'createProduct' %}"><button type="button" class="btn btn-primary">Crear nuevo producto</button></a>

<a href="{% url 'selectModify' %}"><button type="button" class="btn btn-primary">Modificar un producto</button></a>

<a href="#"><button type="button" class="btn btn-primary">Eliminar producto</button></a>

{% endblock %}
