<!doctype html>
<html lang="eng">

<head>
    <title>Drots Store</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</head>

<body class="p-3 mb-2 bg-light text-dark">
  <nav class="sticky-top">
    <div class="container">
        <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
            <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
                <img class="img-fluid" src="../../static/logo/logo.png" alt="logo" width="100" height="100"/>
            </a>
            <div class="col-md-3 text-end">
            <a href="{% url 'home' %}"><button type="button" class="btn btn-primary">Regresar</button></a>
            </div>
        </header>
    </div>
  </nav>

  <div class="container my-4">
    <form method="post" action="{% url 'login' %}">
      {% csrf_token %}
      <div class="mb-3">
        <label for="usuario" class="form-label">Usuario</label>
        <input type="text" class="form-control" name="username" aria-describedby="usuario">
        <div id="usuario" class="form-text">Debes ser administrador del sistema. Si crees que es un error contactanos.</div>
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Contraseña</label>
        <input type="password" class="form-control" name="password">
      </div>
      <div class="mb-3 form-check">
        <input type="checkbox" class="form-check-input" id="check">
        <label class="form-check-label" for="check">Recuerdame</label>
      </div>
      <button type="submit" class="btn btn-primary">Ingresar</button>
    </form>
  </div>
  
</body>
</html>




